<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
	'-//Hibernate/Hibernate Configuration DTD 3.0//EN'
	'http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd'>

<hibernate-configuration>

	<session-factory>
		<mapping class="poncemoral.pfi.domain.Attendance" />
        <mapping class="poncemoral.pfi.domain.Course" />
        <mapping class="poncemoral.pfi.domain.Student" />
        <mapping class="poncemoral.pfi.domain.Teacher" />
	</session-factory>

</hibernate-configuration>
